@import 'vendor/normalize';
@import 'vendor/fonts';
@import 'vendor/variables';

body {
    background-color: grey;
}

.container-fluid {
    max-width: 1195px;
}

.sm-buttons button {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
}

@import 'header';
@import 'sections/banner';
@import 'media/media';
