@import 'vendor/normalize';
@import 'vendor/fonts';
@import 'vendor/variables';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $primary;
    background-color: white;
}

.container-fluid {
    max-width: 1195px;
}

.sm-buttons button {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
}

@import 'header';
@import 'sections/banner';
@import 'sections/portfolio';
@import 'sections/counters';
@import 'sections/products';
@import 'media/media';
