@media (max-width: 767px) {
    /*<----- Banner ----->*/
    .banner {
        h1 {
            padding-right: 0;
            text-align: center;
        }
        &__title {
            text-align: left;
        }
        &__about {
            padding-left: calc(var(--bs-gutter-x)/ 2);
            text-align: center;
        }
        &__btn {
            text-align: center;
        }
    }

    /*<----- Counters ----->*/
    .counters .list-group .list-group-item span {
        font-size: 14px;
    }
}
