@media (max-width: 991px) {
    /*<----- Banner ----->*/
    .banner {
        &__about {
            padding-left: 16rem;
            padding-right: calc(var(--bs-gutter-x)/ 2);
        }
        &__arrow {
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
    }

    /*<----- Portfolio ----->*/
    .portfolio {
        padding-top: 2rem;
    }

    /*<----- Counters ----->*/
    .counters {
        margin-top: -6.12rem;

        .list-group {
            padding-left: calc(var(--bs-gutter-x)/ 2);
            padding-right: calc(var(--bs-gutter-x)/ 2);
        }
    }

    /*<----- Products ----->*/
    .products-slider .slick {
        &-prev {
            left: 38%;
        }
        &-next {
            right: 38%;
        }
    }
}
